<h1>Interpolation</h1>
<!-- 
{{2+3*8}}
<br>
{{fullName}}
<br>
{{"Welcome " +fullName}}
<br>
{{fullName.toUpperCase()}}
<br>
{{fullName.length}}
<br>
{{a=2+3}} 
{{url}} -->

<!-- <h1>Property Binding</h1>
<input type="text" [id]="txtId"/>

<button disabled="{{isDisabled}}">Click Me !</button>
<button [disabled]="isDisabled">Click Me !</button> -->
<h1>Class Binding</h1>
<!-- <h2 class="text-success">ITI</h2>
<h2 [class]="textColor">ITI again</h2>
<h2 [class.text-danger]="hasError">Welcome to Angular</h2>

<h2 [ngClass]="messageClasses">Wleocme to ITI Again</h2> -->

<h1>Style Binding</h1>

<h1 style="color:red">Welcome to Angular</h1>
<h2 [style.color]="styleColor" >Welcome to Angular again</h2>

<h1 [style.color]="hasError ? 'red' : 'green' ">Welcome to ITI</h1>

<h1 [ngStyle]="myStlye">Wleocme again</h1>